<%- include('header') %>

<form action="/cotacao" method="GET">
    <input type="text" id="cotacao"  name="cotacao" placeholder="Dollar exchange rate" >
    <p id="btnCotacao">Get</p><br>
    <input type="text" id="quantidade" name="quantidade" placeholder="Dollar amount"><br>
    <button id="btn">Convert!</button>
    <input type="hidden" name="valorCotacao" id="valorCotacao" value="<%- cotacao %>">

</form>

<%- include('footer') %>